.chat {
  display: flex;
  flex-direction: column;
  flex: 1 0.65;
}

.chat-header {
  padding: 10px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgrey;
}

.head-info {
  flex: 1;
  padding-left: 20px;
}
.head-info > h3 {
  margin-bottom: 3px;
  font-weight: 500;
}
.head-info > p {
  color: gray;
}

.chat-body {
  flex: 1;
  background-color: #20bf55;
  background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);

  background-repeat: repeat;
  background-position: center;
  padding: 30px;
  overflow: scroll;
}
.chat-body::-webkit-scrollbar {
  display: none;
}
.chat-body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
